# Node
node_modules/

# Build outputs
/dist/
/build/
/.vite/
/.cache/
/coverage/


# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Hosting
.vercel/
.netlify/

tmp/
/temp/
